/* Doc Reset */

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --solid-orange: #F24F13;
    --mustard-yellow: #F29F05;
    --pastel-blue: #3B6FD9;
    --rich-blue: #1A5AD9;
    --MWhite-color: #F2F2F2;
    --Dgrey-color: #515151;
}

/*------------------ General Fonts-------------------- */

html {
    font-size: 62.5%; /* reminder the 62.5% equals 10px and the rem units are multipliers so 1.6 rem would = 16px, 2.0 rem = 20px */
    box-sizing: border-box;
}

h1 {
    font-family: 'Poppins';
    color: #000000;
    font-size: 5.6rem;
    margin-bottom: 2rem;
}

h2 {
    font-family: 'Poppins';
    font-weight: medium;
    color: #F2F2F2;
    font-size: 2.2rem;
}

h3 {
    font-family: 'Source Sans Pro';
    color: #515151;
    font-size: 2rem;
    margin: 0px;
}

h4 {
    font-family: 'Source Sans Pro';
    color: #515151;
    font-size: 1.6rem;
    /* font-weight:; */
    margin: 0px;
}

p {
    font-family: 'Source Sans Pro';
    color: #515151;
    font-size: 2rem;
    margin-bottom: 4.2rem;
}

a {
    font-family: 'Poppins';
    text-decoration: none;
    font-size: 3.2rem;
}

li {
    font-family: 'Poppins';
    list-style: none;
}

/* body {
    height: 4000px; */


/*------------------ Navigation-------------------- */

.navbar {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 5;
}

.navlinks {
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 8px rgba(59, 111, 217, .10);
    display: flex;
    padding: 1.5rem 0 1rem 0;
    justify-content: flex-end;
    align-items: center;
}

.navItem {
    margin-right: 8rem;
}


.navItem a{
    font-size: 3.2rem;
    color: black;
}

.navItem:first-child {
    font-weight: bold;
    /* justify-self: flex-start; */
    margin-right: auto;
    margin-left: 3rem;
}

#logo {
    font-size: 4rem;
}

#btn {
    background-color: #F24F13;
    color: #ffffff;
    padding: .8rem 1.5rem;
    cursor: pointer;
    transition: background-color .4s ease-in-out;
}

#btn:hover {
    background-color: #3B6FD9;
    color: #ffffff;
    padding: .8rem 1.5rem;
}


/*------------------ Home-------------------- */

.home {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.hContent {
    width: 820px;
    height: 358px;
    grid-column: 4/ span 6;
    grid-row: 3/ span 4;
    text-align: center;
    justify-self: center;
    align-self: center;
}

#hiWork {
    margin-bottom: 3rem;
    background-color: #F24F13;
    color: #ffffff;
    padding: .8rem 1.5rem;
    cursor: pointer;
    transition: background-color .4s ease-in-out;
}

#hiWork:hover {
    background-color: #3B6FD9;
    color: #ffffff;
    padding: .8rem 1.5rem;
}

.keybImage {
    grid-column: 5/ span 4;
    grid-row: 7/ span 1;
    background: url(/images/keyboard.png);
    background-size: contain;
    background-repeat: no-repeat;
    justify-self: center;
    align-self: center;
    width: 820px;
    height: 250px;
}


/*------------------ design process -------------------- */

.designProcess {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 0px;
    align-items: center;
    justify-content: center;
}

.designProcessContent {
    grid-column: 1/span 3;
    grid-row: 2/ span 3;
    margin-left: 15%;
}

/* div {
    border: 1px solid grey;
} */

#recentWorkbtn {
    margin-bottom: 3rem;
    background-color: #F24F13;
    color: #ffffff;
    padding: .8rem 1.5rem;
    cursor: pointer;
    transition: background-color .4s ease-in-out;
}

#recentWorkbtn:hover {
    background-color: #3B6FD9;
    color: #ffffff;
}

/* Bubbbles */

.circleOne {
    grid-column: 5/ span 2;
    grid-row: 2/ span 3;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F24F13;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    border: none;
}

.researchOne {
    text-align: center;
}

.circleTwo {
    grid-column: 6/ span 3;
    grid-row: 3/ span 3;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #F29F05;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: none;
}

.IdiationC {
    text-align: center;
}

.circleThree {
    grid-column: 7/ span 2;
    grid-row: 2/ span 2;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B6FD9;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    border: none;
}

.TestingC {
    text-align: center;
    font-size: 1.6rem
}


/*------------------ Case Studies  -------------------- */

.case_studies {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 0px;
    align-items: center;
    justify-content: center;
}

.casestudy_Content {
    grid-column: 1/span 3;
    grid-row: 2/ span 3;
    margin-left: 15%;
}

#ui-desingbtn {
    margin-bottom: 3rem;
    background-color: #F24F13;
    color: #ffffff;
    padding: .8rem 1.5rem;
    cursor: pointer;
    transition: background-color .4s ease-in-out;
}

#ui-desingbtn:hover {
    background-color: #3B6FD9;
    color: #ffffff;
}

/*------------------ Case Study Carousel  -------------------- */

.carousel {
    grid-column: 5/span 4;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
}

.card {
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(59, 111, 217, .30);
    transition: 0.3s;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
  }

/* ------------------------------------------------ */

.cardTwo {
    background-color: #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40rem;
    height: 30rem;
    box-shadow: 0 4px 8px 0 rgba(59, 111, 217, .30);
}

.ThumbnailTwo {
    background: url(../images/case-study-thumbnails/Stronger-together-thumbnail.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: 150px;
    cursor: pointer;
}

.TagTwo {
    padding: .8rem 0 0 .8rem;
}

.TTwo {
    font-family: 'Poppins';
    font-size: 1.6rem;
    padding: .8rem 0 0 .8rem;
    margin: 0;
}

.RMTwo {
    font-size: 1.6rem;
    color: #F24F13;
    padding: .8rem 0 0 .8rem;
    margin: 0px;
    justify-self:flex-end;
}




/*------------------ UI Design  -------------------- */

.uiDesigns {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 0px;
    align-items: center;
    justify-content: center;
}

.ui-designContent {
    grid-column: 1/span 3;
    grid-row: 2/ span 3;
    margin-left: 15%;
}

#vmore-dribbble {
    margin-bottom: 3rem;
    background-color: none;
    border: 3.5px solid #F24F13;
    color: #515151;
    font-weight: medium;
    padding: .8rem 1.5rem;
    cursor: pointer;
}

.Tagone {
    font-size: 1.6rem;
}

/*------------------ ui design grid gallery  -------------------- */

.image1 {
    justify-self: flex-end;
    grid-column: 5/span 2;
    grid-row: 2;
    background: url(../images/ui-designs/Cristian\ Pineda\ -\ Sleep\ App\ Concept\ -\ UI\ design.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1.6rem 1.6rem 0 0;
    width: 200px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(59, 111, 217, .30);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.image1:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }

.image2 {
    grid-column: 7/span 2;
    grid-row: 2;
    background: url(../images/ui-designs/Cristian\ Pineda\ -Daily\ UI\ -\ Design\ -\ 404\ page.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1.6rem 1.6rem 0 0;
    width: 200px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(59, 111, 217, .30);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.image2:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }


.image3 {
    justify-self: flex-end;
    grid-column: 5/span 2;
    grid-row: 3;
    background: url(../images/ui-designs/DailyUI-04-Cristian\ Pineda-Calculator.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1.6rem 1.6rem 0 0;
    width: 200px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(59, 111, 217, .30);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.image3:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }


.image4 {
    grid-column: 7/span 2;
    grid-row: 3;
    background: url(../images/ui-designs/Thumnail\ day\ 6\ -\ Cristian\ Pineda.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1.6rem 1.6rem 0 0;
    width: 200px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(59, 111, 217, .30);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.image4:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }


.image5 {
    justify-self: flex-end;
    grid-column: 5/span 2;
    grid-row: 4;
    background: url(../images/ui-designs/002-checkout-page-Cristian\ Pineda-dailyui.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1.6rem 1.6rem 0 0;
    width: 200px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(59, 111, 217, .30);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.image5:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }


.image6 {
    grid-column: 7/span 2;
    grid-row: 4;
    background: url(../images/ui-designs/Challenge\ 3\ -\ landing\ page\ -\ cristian\ pineda.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1.6rem 1.6rem 0 0;
    width: 200px;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(59, 111, 217, .30);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.image6:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }


/*------------------ about  -------------------- */


.about {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.aboutContent {
    justify-content: center;
    align-self: center;
    grid-column: 3/ span 4;
    grid-row: 2/ span 3;
    text-align: center;
}

#abtContactbtn{
    margin-bottom: 3rem;
    background-color: #F24F13;
    color: #ffffff;
    padding: .8rem 1.5rem;
    cursor: pointer;
    transition: background-color .4s ease-in-out;
}

#abtContactbtn:hover {
    background-color: #3B6FD9;
    color: #ffffff;
    padding: .8rem 1.5rem;
}

/*------------------ Contact  -------------------- */

.contact {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.Ctct-hdng-content {
    /* justify-content: center; */
    align-self: center;
    grid-column: 3/ span 4;
    grid-row: 2;
    text-align: center;
}


.cntctForm {
    width: 65rem;
    height: 30rem;
    box-shadow: 0 4px 8px 0 rgba(59, 111, 217, .30);
    border-radius: 1.6rem;
    justify-self: center;
    align-self: center;
    grid-column: 3/ span 4;
    grid-row: 3/ span 2;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
}


.formTextContent {
    justify-self: flex-start;
    align-self: center;
    margin-left: 2.4rem;
    grid-column: 2/ span 4;
    grid-row: 2/ span 5;
}
/* 
.avatarImg {

    grid-column:1;
    grid-row: 2;
} */

.line {
    justify-self: center;
    width: 1.2px;
    background-color: #3b70d933;
    grid-column: 5/ span 2;
    grid-row: 2/span 3;
}

.formFields {
    justify-self: center;
    align-self: center;
    grid-column: 6/ span 3;
    grid-row: 1/span 5;
}

.input-container {
    margin: 1.6rem;
    /* height: 4rem;
    width: 10rem; */
}

.input-field {
    height: 3rem;
    width: 19rem;
    border-radius: 2px;
    border: 1px solid #51515162;
}

.inputNameheading {
    margin: 0px;
    align-self: flex-end;
}

.inputEmailheading {
    margin: 0px;
    align-self: flex-end;
}

.output-container {
    margin: 1.6rem;
}

.btnNext {

    height: 30px;
    width: 190px;
    background-color: #F24F13; 
    border: none;
    color: white;
    padding: .8rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    cursor: pointer;
}

.btnNext:hover {
    background-color: #3B6FD9;
    color: #ffffff;
    padding: .8rem 1.5rem;
}



.avatar {
    grid-column: 1;
    grid-row: 2;
    background: url(../images/avatars/Cristian\ Pineda\ Avatar.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-self: flex-end;
    align-self: center;
    display: flex;    
    justify-content: flex-end;
    align-items: flex-end;
}

.avatarOnbb {
    background: #F24F13;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(59, 111, 217, .30);
}

